/* This file is for your main application css. */
            @media (min-width: 550px) {
                .container  { max-width: 1400px; }
            }
            
            .modal-dialog {
                padding: 5px;
                background: #fefefe;
                border: #333333 solid 1px;
                border-radius: 5px;
                margin-left: -200px;
                position: fixed;
                left: 50%;
                top: 30%;
                z-index: 11;
                width: 360px;
                -webkit-box-shadow: 33px 38px 56px 16px rgba(0,0,0,0.76);
                -moz-box-shadow: 33px 38px 56px 16px rgba(0,0,0,0.76);
                box-shadow: 33px 38px 56px 16px rgba(0,0,0,0.76);
                
            }
            
            button[disabled] {
                background:#ccc !important;
                border-color: #ccc !important;
                text-shadow:none !important;
            }